.index-bg {
  background-image: linear-gradient(to right, #0000007b 1%, transparent 99%),
    linear-gradient(to top, #000 1%, transparent 99%),
    url(../images/background/index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 70%;
}


/* AUDIO */
.footer {
  z-index: 1;
}

.equalizer {
  font-size: 0;
  text-align: right;
  padding: 20px;
  display: flex;
  position: fixed;
  bottom: 1px;
  right: 1px;
}

.equalizer-bar {
  transition: transform 150ms linear;
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 3px;
  height: 20px;
  border-radius: 1px;
  margin: 0 1px;
  transform: scaleY(0.1);
  transform-origin: center center;
}

/* ANIMACAO LOGO */
.container-fluid {
  height: 100vh;
}

.animated-logo {
  width: 40%;
  animation: spin 3s linear infinite;
}

.animated-logo img {
  width: 100%;
}

@keyframes spin {
  0% {
    width: 20%;
  }

  30% {
    width: 40%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 40%;
  }

  100% {
    width: 20%;
  }
}